*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

li a {
  color: #fae2af;
}

html {
  scroll-behavior: smooth;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 1px solid #22303f;
  box-shadow: 8px 8px 77px 0px rgb(6, 9, 18);
  width: 100%;
}
.card .toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  border: 1px solid #22303f;
  border-radius: 1rem 1rem 0 0;
  background-color: rgba(16, 20, 25, 0.7843137255);
  background: url("../ /img/cardheader.png") repeat fixed 10% 10%;
  background-size: 90%;
}
.card .toolbar .toolkit {
  display: flex;
  padding: 0.5rem;
  align-items: baseline;
  position: absolute;
  left: 0.75rem;
  gap: 0.5rem;
}
.card .toolbar .toolkit .close {
  font-size: 1.2rem;
  color: #8e2139;
  -webkit-text-stroke: 1px #8e2139;
}
.card .toolbar .toolkit .minimize {
  width: 1.2rem;
  height: 0.5rem;
  background-color: #f3b84b;
  border-radius: 0.15rem;
  opacity: 80%;
}
.card .toolbar .toolkit .maximize {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #468253;
  border-radius: 0.25rem;
}
.card .toolbar .subtitle {
  position: relative;
  background: linear-gradient(90deg, #dee1ab 0%, #fae2af 50%, #c15544 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.card .cardcontent {
  background-color: #151b23;
  padding: 1rem;
  color: #9fc8d9;
  border-radius: 0 0 1rem 1rem;
  display: flex;
}

body {
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Be Vietnam Pro";
  font-weight: regular;
  font-size: 1.1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

bodyItalic {
  font-family: Bensley;
}

menuitem {
  font-family: Besley;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.25rem; /* 125% */
  letter-spacing: -0.05rem;
}

h1 {
  font-family: Space Grotesk;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 4rem; /* 114.286% */
  margin-bottom: -1rem;
}
@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    display: inline;
  }
}

h2 {
  font-size: 2.6rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  font-family: Be Vietnam Pro;
  font-size: 3rem;
  font-style: normal;
  font-weight: 200;
  line-height: 3.5rem; /* 116.667% */
  letter-spacing: -0.03rem;
}

.subtitle {
  font-family: Be Vietnam Pro;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1rem; /* 114.286% */
  text-transform: uppercase;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1rem;
  }
}
p {
  line-height: 1.8rem;
  margin: 1rem 0;
}

b {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #241019;
  font-weight: 600;
  transition: 0.2s;
}
a:hover {
  background: linear-gradient(90deg, #dee1ab 0%, #c15544 50%, #5146cf 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  max-width: 100%;
}

main {

  margin: 0 auto;
  font-weight: normal;
}

@media (max-width: 1200px) {
  main {
    margin: auto 0.7rem;
  }
}
section {
  margin: 6rem 0;
}
section header {
  margin-bottom: 2rem;
}

button,
.btn,
input {
  padding: 0.7rem 2.2rem;
  border-radius: 7px;
  margin: 0 0.2rem;
  border: unset;
  font-weight: 600;
}

button,
.btn {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
}
button:hover,
.btn:hover {
  box-shadow: 3px 3px 0 0 #101419;
}

form {
  margin: 0.3rem 0;
}

@media screen and (max-width: 550px) {
  form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
  }
}
label {
  display: block;
  margin-bottom: 0.2rem;
  font-weight: 600;
}

input {
  background-color: #f5f5f5;
}

summary {
  text-transform: uppercase;
}
summary:hover {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
footer {
  background-color: #151b23;
  color: white;
  padding: 2rem 1rem 3rem 1rem;
  margin-top: 5rem;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  color: #fcb0ac;
}/*# sourceMappingURL=base.css.map */