@import "./_variables.scss";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	position: relative;
	font-weight: normal;
	list-style-type: none;
	color: $off-white;
}

li {
	a {
		color: $yellow;
	}
}

html {
	scroll-behavior: smooth;
	background-color: $off-black;
	cursor: url("/pointer-default.svg"), auto;
}

.card {
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	border: 1px solid $gray-600;
	box-shadow: 8px 8px 77px 0px rgba(6, 9, 18, 0.7);
	width: 100%;
	margin-top: 4rem;

	.toolbar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 2.5rem;
		border: 1px solid $gray-600;
		border-radius: 1rem 1rem 0 0;

		background-color: $gray-800;
		//background: url("../ /img/cardheader.png") repeat fixed 10% 10%;
		mix-blend-mode: dissolve;
		background-size: 90%;

		.toolkit {
			display: flex;
			padding: 0.5rem;
			align-items: baseline;
			position: absolute;
			left: 0.75rem;
			gap: 0.5rem;

			.close {
				font-size: 0.75rem;
				color: $plum;
				-webkit-text-stroke: 1px $plum;
			}

			.minimize {
				width: 0.75rem;
				height: 0.25rem;
				background-color: $yellow-400;
				border-radius: 0.15rem;
				opacity: 80%;
				padding: 0;
			}

			.maximize {
				width: 0.75rem;
				height: 0.75rem;
				background-color: $green-400;
				border-radius: 0.25rem;
				padding: 0;
			}
		}

		.subtitle {
			position: relative;
			background: linear-gradient(90deg, #dee1ab 0%, #fae2af 50%, #c15544 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-align: center;
		}
	}

	.cardcontent {
		background: rgba($color: $off-black, $alpha: 0.5);
		backdrop-filter: blur(10px);
		padding: 4rem;
		gap: 2rem;
		border-radius: 0 0 1rem 1rem;
		height: 100%;
		transition: max-height 0.3s ease-in;
		display: flex;
		flex-direction: column;
	}

	.cardcontent-minimized {
		transition: height 0.3s ease-out;
		overflow: hidden;
		height: 0;
		padding: 0;
	}

	.card-minimized {
		transition: height 0.3s ease-out;
		border-radius: 1rem;
		position: fixed;
		bottom: 1rem;
		right: 8rem;
		width: 300px;
		border: 1px solid $gray-600;
		box-shadow: 8px 8px 77px 0px rgba(6, 9, 18, 0.7);
	}

	&.card-maximized {
		position: absolute;
		z-index: 100;
		width: 100%;
		transition: position 0.3s ease-in;
	}
}

.img-flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 2rem;
	width: 100%;
	box-sizing: border-box; // Ensures padding and borders are included in the width and height

	a {
		flex: 1 1 calc(33.333% - 2rem); // 3 images per row
		aspect-ratio: 1; // Ensures the image remains square
		object-fit: cover; // Ensures the image covers the area while maintaining its aspect ratio
		width: 100%;
		opacity: 60%;
		transition-property: opacity;
		transition-duration: 0.5s;
		transition-timing-function: linear;
		background: center center/cover no-repeat;
		border-radius: 1rem;
		overflow: hidden;
		transition: border-radius 0.25s ease, opacity 0.5s;

		&:hover {
			opacity: 100%;
			border-radius: 2rem;
			transition: border-radius 0.25s ease, opacity 0.5s;
			background-size: 120%;
		}

		img {
			width: 100%;
		}
	}

	img {
		width: 100%;
		flex: 1 1 calc(50% - 2rem); // 3 images per row
		aspect-ratio: 1; // Ensures the image remains square
		object-fit: cover; // Ensures the image covers the area while maintaining its aspect ratio
		opacity: 60%;
		transition-property: opacity;
		transition-duration: 0.5s;
		transition-timing-function: linear;
		background: center center/cover no-repeat;
		border-radius: 1rem;
		overflow: hidden;
		transition: border-radius 0.25s ease, opacity 0.5s;

		&:hover {
			opacity: 100%;
			border-radius: 2rem;
			transition: border-radius 0.25s ease, opacity 0.5s;
		}
	}

	@media (max-width: 768px) {
		img {
			flex: 1 1 calc(50% - 2rem); // 2 images per row on smaller screens
		}
	}

	@media (max-width: 480px) {
		img {
			flex: 1 1 calc(100% - 2rem); // 1 image per row on very small screens
		}
	}
}

.step-container {
	padding: 2rem;
	gap: 1rem;
	width: 100%;
	margin: 0;

	display: flex;

	.step-title {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		margin: 0;

		h5 {
			color: $off-white;
		}

		img {
			width: 2rem;
		}
	}

	.content-flex {
		display: flex;
		gap: 1rem;
		margin: 0;
		width: 100%;
	}

	.content {
		margin: 0;
		display: flex;

		subtitle {
			color: $blue-200;
		}
	}
}

body {
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.8;
	font-family: "Be Vietnam Pro";
	font-weight: regular;
	font-size: 1.5rem;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bodysmall {
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.2;
	font-family: "Be Vietnam Pro";
	font-weight: regular;
	font-size: 1.2rem;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

strong {
	font-family: Besley;
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 600;
	line-height: 1.8rem;
	letter-spacing: -0.1rem;
	color: $yellow;
}

menuitem {
	font-family: Besley;
	font-size: 1.6rem;
	font-style: italic;
	line-height: 1.25rem;
	/* 125% */
	letter-spacing: -0.05rem;
	font-weight: 700;
	margin-bottom: 4rem;

	@media (max-width: 1200px) {
		width: 3rem;
		font-size: 1.2rem;
	}
}

.hero {
	background: $gradfull;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline;
	width: 100%;
}

h1 {
	font-family: Space Grotesk;
	font-size: 4rem;
	font-style: normal;
	font-weight: bold;
	line-height: 4rem;
	/* 114.286% */
	margin-bottom: -1rem;
	background: $gradfull;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline;

	@media (max-width: 600px) {
		font-size: 2.5rem;
		line-height: 3rem;
		display: inline;
	}
}

h2 {
	font-size: 4rem;
	font-weight: 600;
}

h3 {
	font-size: 2.5rem;
	font-weight: 500;
	font-family: Be Vietnam Pro;
	font-size: 3rem;
	font-style: normal;
	font-weight: 200;
	line-height: 3.5rem;
	/* 116.667% */
	letter-spacing: -0.03rem;
}

h4 {
	font-family: Besley;
	font-size: 2rem;
	font-style: italic;
	font-weight: 600;
	line-height: 2rem;
	/* 114.286% */
	letter-spacing: -0.04375rem;
	background: $gradfull;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	inline-size: fit-content;
}

h5 {
	font-family: Besley;
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 600;
	line-height: 1.5rem;
	/* 109.091% */
	letter-spacing: -0.03438rem;
	color: $blue-200;
}

h6 {
	font-family: Be Vietnam Pro;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 600;
	line-height: 2rem;
	/* 133.333% */
	letter-spacing: -0.0525rem;
	color: var(--off-white, #9fc8d9);
}

subtitle {
	font-family: Be Vietnam Pro;
	font-size: 1.24rem;
	font-style: normal;
	font-weight: 900;
	line-height: 1.5rem;
	/* 114.286% */
	text-transform: uppercase;
}

@media screen and (max-width: $br-mobile) {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.7rem;
	}

	h3 {
		font-size: 1rem;
	}
}

p {
	line-height: 2.4rem;
}

b {
	font-weight: 600;
}

a {
	text-decoration: none;
	color: $plum;
	font-weight: 600;
	transition: 0.2s;

	&:hover {
		background: linear-gradient(90deg, #dee1ab 0%, #c15544 50%, #5146cf 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		cursor: url("/Users/sara.jover/Library/CloudStorage/OneDrive-Accenture/Dev Sara/portfolio-sara-jover /pointer-hover.svg"), auto;
	}
}

img {
}

main {
	font-weight: normal;

	padding: 4rem 4rem 4rem 24rem;
}

@media (max-width: $br-desktop) {
	main {
		margin: auto 0.7rem;
	}
}

section {
	margin: 6rem 0;

	header {
		margin-bottom: 2rem;
	}
}

button,
.btn,
input {
	padding: 0.7rem 2.2rem;
	border-radius: 7px;
	margin: 0 0.2rem;
	border: unset;
	font-weight: 600;
}

button,
.btn {
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	transition: 0.2s;
	text-transform: uppercase;

	&:hover {
		box-shadow: 3px 3px 0 0 $off-black;
	}
}

form {
	margin: 0.3rem 0;
}

@media screen and (max-width: $br-mobile) {
	form {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
		width: 100%;
	}
}

label {
	display: block;
	margin-bottom: 0.2rem;
	font-weight: 600;
}

input {
	background-color: #f5f5f5;
}

summary {
	text-transform: uppercase;

	&:hover {
		user-select: none;
		cursor: pointer;
	}
}

@keyframes sweep {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

footer {
	background-color: $gray-800;
	color: white;
	padding: 2rem 1rem 3rem 1rem;
	margin-top: 5rem;
	border-radius: 5px;
	user-select: none;

	a {
		color: #ffffff;

		&:hover {
			color: #78241f;
		}
	}
}

@keyframes star-rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.star16 {
	animation: star-rotation 6s infinite linear;
}

.arrow3d {
	align-items: center;

	img {
		animation: rotateAnimation 3s linear infinite;
		width: 2.5rem;
	}
}

@keyframes rotateAnimation {
	from {
		transform: rotateY(45deg);
	}

	to {
		transform: rotateY(225deg);
	}
}

:root {
	--circle-size: 80%;
	--blending: screen;
	--color1: 47, 10, 71;
	--color2: 5, 38, 81;
	--color3: 177, 89, 106;
	--color4: 193, 84, 68;
	--color5: 15, 5, 26;
}

@keyframes moveInCircle {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes moveVertical {
	0% {
		transform: translateY(-50%);
	}

	50% {
		transform: translateY(50%);
	}

	100% {
		transform: translateY(-50%);
	}
}

@keyframes moveHorizontal {
	0% {
		transform: translateX(-50%) translateY(-10%);
	}

	50% {
		transform: translateX(50%) translateY(10%);
	}

	100% {
		transform: translateX(-50%) translateY(-10%);
	}
}

.gradient-bg {
	width: 100vw;
	height: 100vh;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: -1;

	svg {
		display: none;
	}

	.gradient-container {
		width: 100%;
		height: 100%;
		mix-blend-mode: screen;
		z-index: -3;
	}

	.g1 {
		position: absolute;
		background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
		width: var(--circle-size);
		height: var(--circle-size);
		mix-blend-mode: var(--blending);
		top: calc(50% - var(--circle-size) / 2 + 200px);
		left: calc(50% - var(--circle-size) / 2 - 500px);
		opacity: 1;

		transform-origin: center center;
		animation: moveVertical 30s ease infinite;
	}

	.g2 {
		position: absolute;
		background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
		width: var(--circle-size);
		height: var(--circle-size);
		mix-blend-mode: var(--blending);
		top: calc(50% - var(--circle-size) * 2);
		left: calc(50% - var(--circle-size) * 2);

		transform-origin: calc(50% + 400px);
		animation: moveInCircle 40s linear infinite;

		opacity: 0.7;
	}

	.g3 {
		position: absolute;
		background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
		width: var(--circle-size);
		height: var(--circle-size);
		mix-blend-mode: var(--blending);
		top: calc(50% - var(--circle-size) / 2);
		left: calc(50% - var(--circle-size) / 2);
		opacity: 0.7;

		transform-origin: calc(50% - 200px);
		animation: moveHorizontal 40s ease infinite;
	}

	.g4 {
		position: absolute;
		background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
		width: calc(var(--circle-size) * 2);
		height: calc(var(--circle-size) * 2);
		mix-blend-mode: var(--blending);
		top: calc(50% - var(--circle-size) / 2);
		left: calc(50% - var(--circle-size) / 2);
		opacity: 1;

		transform-origin: calc(50% - 800px) calc(50% + 200px);
		animation: moveInCircle 20s ease infinite;
	}

	.g5 {
		position: absolute;
		background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
		width: var(--circle-size);
		height: var(--circle-size);
		mix-blend-mode: var(--blending);
		top: calc(50% - var(--circle-size) / 2 - 500px);
		left: calc(50% - var(--circle-size) / 2 + 200px);
		opacity: 1;

		transform-origin: calc(50% + 400px);
		animation: moveInCircle 40s linear infinite;
	}

	.interactive {
		position: absolute;
		background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
		mix-blend-mode: screen;
		opacity: 0.4;
		width: 50%;
		height: 50%;
		top: -25%;
		left: -25%;
	}
}
